<section id="home" class="pt-5" style="position: relative;">
    <!-- <div class="backgroundpage-image"></div> -->

    <!-- <div class="parallax d-flex align-items-center"> -->
    <!-- welcome -->





    <div class="px-4 pt-5 text-center">
        <img class="d-block mx-auto mb-4" src="hotel.png" alt width="72" height="57" />
        <h1 class="display-5 fw-bold">
            <div class>โรงแรมบีเอส</div>
            <div class>ยินดีต้อนรับ</div>
        </h1>
        <div class="col-lg-6 mx-auto">
            <div class="lead">
                โรงแรมบีเอส ปราจีนบุรี ตั้งอยู่ใจกลาง อำเภอเมืองปราจีนบุรี มีพนักงานต้อนรับตลอด 24 ชั่วโมง ทุกห้องพักถูกออกแบบให้มีความสะดวกสบาย เหมาะกับการพักผ่อน มีเครื่องใช้ไฟฟ้าครบครัน พร้อมทั้งอินเตอร์เน็ตความเร็วสูง
            </div>
        </div>
    </div>
    <!-- welcome -->
    <!-- </div> -->

    <div class="d-flex justify-content-center fs-1 fw-semibold my-5">
        ห้องพักและบริการ
    </div>

    <!-- rooms -->
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-lg-10">
                <dive class="row hover-a-room gy-3">
                    <% for (var i = 0; i < recroom_type.length; i++) { %>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 ">
                            <div class="setcard-recroom d-block p-4  h-100" style="border-radius: 6px;overflow: hidden;">

                                <a href="#booking" onclick="sign_room('Standard')" class="text-room-home fs-4">
                                    <%= recroom_type[i].name %>
                                        (
                                        <%= recroom_type[i].name_th %>)</a>
                                <div class="meta-post">เริ่มต้นที่
                                    <%= recroom_type[i].price_start %>฿/คืน</div>

                                <a href="#booking" onclick="sign_room('Standard')" class="d-block " style="overflow: hidden;border-radius: 6px;transition: 0.5s all ease-in-out;"><img src="standard.jpg" alt="Image placeholder" class="img-fluid w-100 my-2" style="border-radius: 6px;"></a>
                                <div class>

                                    <p>
                                        <%= recroom_type[i].details %>
                                    </p>
                                    <a href="#booking" class=" btn btn-recroom fw-semibold fs-5 w-100" onclick="sign_room('Standard')">จองเลย</a>
                                </div>

                            </div>

                        </div>

                        <%}%>
                </dive>

                <!-- rooms -->

                <div class="row mt-5">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6 d-flex align-items-center justify-content-center p-2">
                        <div class="row-service w-100">
                            <div class="d-block mb-4 h-100 p-5 d-flex flex-column align-items-center justify-content-center" style="background-color: white;box-shadow: 0 2px 14px 5px rgba(20, 20, 20, 0.05);">
                                <i class="fa-solid fa-taxi fa-3x mb-3"></i>
                                <div class="text-service">บริการรับส่งสนามบิน</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6 d-flex align-items-center justify-content-center  p-2">
                        <div class="row-service w-100">
                            <div class="d-block mb-4 h-100 p-5 d-flex flex-column align-items-center justify-content-center" style="background-color: white;box-shadow: 0 2px 14px 5px rgba(20, 20, 20, 0.05);">
                                <i class="fa-solid fa-cart-flatbed-suitcase fa-3x mb-3"></i>
                                <div class="text-service">บริการต้อนรับ</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6 d-flex align-items-center justify-content-center  p-2">
                        <div class="row-service w-100">
                            <div class="d-block mb-4 h-100 p-5 d-flex flex-column align-items-center justify-content-center" style="background-color: white;box-shadow: 0 2px 14px 5px rgba(20, 20, 20, 0.05);">
                                <i class="fa-solid fa-martini-glass-citrus fa-3x mb-3"></i>
                                <div class="text-service">บริการอาหาร</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6 d-flex align-items-center justify-content-center p-2 ">
                        <div class="row-service w-100">
                            <div class="d-block mb-4 h-100 p-5 d-flex flex-column align-items-center justify-content-center" style="background-color: white;box-shadow: 0 2px 14px 5px rgba(20, 20, 20, 0.05);">
                                <i class="fa-solid fa-spa fa-3x mb-3"></i>
                                <div class="text-service">บริการสปา</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- service -->
                <div class="row flex-lg-row-reverse align-items-center my-5 ">
                    <div class="col-lg-6">
                        <img src="prefront.jpg" class="d-block mx-lg-auto img-block1" alt="Bootstrap Themes" width="700" height="500" loading="lazy" style="border-radius: 8px;" />
                    </div>
                    <div class="col-lg-6 mt-4">
                        <h1 class="display-5 fw-bold fs-2 mb-3">
                            บริการดีทุกระดับประทับใจ
                        </h1>
                        <p class="lead">
                            ทางเราให้บริการด้วยความเต็มใจ พร้อมให้คุณได้สมผัสบรรยากาศการพักผ่อนที่ประทับใจ มีสิ่งอำนวยความสะดวกครบครัน และที่พักของเรายังใกล้กับสถานที่ท่องเที่ยวมากมาย คุณสามารถเดินทางไปในระยะเวลาที่สั้น และเพลิดเพลินกับการท่องเที่ยว
                        </p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <button type="button" class="btn btn btn-secondary btn-lg px-4 me-md-2" href="#contact" onclick="showSection('contact')">เกี่ยวกับเรา</button>
                            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">เกี่ยวกับเรา</button> -->
                        </div>
                    </div>
                </div>

                <!-- service -->
            </div>
        </div>
    </div>

    <!-- แนะนำอาหาร -->
    <div class="recservice d-flex justify-content-center align-items-center">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 px-0">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <img src="bf1.jpg" class=" w-100 img-fluid" alt="..." />

                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="bf2.jpg" class=" w-100 img-fluid" alt="..." />

                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="bf3.jpg" class="w-100 img-fluid" alt="..." />

                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="bf4.jpg" class=" w-100 img-fluid" alt="..." />

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center flex-column ">
            <div class="col-10 col-sm-8 col-md-6 col-lg-6">
                <div class="fs-3 text-sky">บริการอาหารเช้า</div>
                <div class="p_reccomend">
                    อาหารหลากหลายตามความต้องการ ไม่ว่าจะเป็น ไข่ เนื้อ ขนมปัง ผักและผลไม้ต่างๆ รวมทั้งยังมีเมนูอีกมากมาย อาหารหลากหลายตามความต้องการ ไม่ว่าจะเป็น ไข่ เนื้อ ขนมปัง ผักและผลไม้ต่างๆ รวมทั้งยังมีเมนูอีกมากมาย
                </div>

                <div class="d-flex">ให้บริการ
                    <div class="text-sky ms-2">08:00 - 18:00</div>
                </div>
            </div>
        </div>

    </div>

    <!-- แนะนำอาหาร -->
    <!-- แนะนำสปา -->
    <div class="recservice2 d-flex justify-content-center align-items-center ">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center flex-column ">
            <div class="col-10 col-sm-8 col-md-6 col-lg-6">
                <div class="fs-3 text-sky">บริการสปานวด</div>
                <div class="p_reccomend">
                    ผ่อนคลายด้วยบริการนวดจากเรา ช่วยให้คุณได้พักผ่อนร่างกาย บำบัดอาการปวดเมื่อยกล้ามเนื้อ หลับสบายยิ่งขึ้น
                </div>
                <div class="d-flex">ให้บริการ
                    <div class="text-sky ms-2">17:00 - 21:00</div>
                </div>

            </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 px-0">

            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <img src="spa1.jpg" class="d-block w-100 img-fluid" alt="..." />
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="spa2.jpg" class="d-block w-100 img-fluid" alt="..." />
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="spa3.jpg" class="d-block w-100 img-fluid" alt="..." />
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="spa4.jpg" class="d-block w-100 img-fluid" alt="..." />
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- แนะนำสปา -->
    <!-- แนะนำฟิตเนส -->
    <div class="recservice d-flex justify-content-center align-items-center ">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 px-0">

            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <img src="fit1.jpg" class="d-block w-100 img-fluid" alt="..." />
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="fit2.jpg" class="d-block w-100 img-fluid" alt="..." />
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="fit3.webp" class="d-block w-100 img-fluid" alt="..." />
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="fit4.jpg" class="d-block w-100 img-fluid" alt="..." />
                    </div>
                </div>

            </div>

        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center flex-column">
            <div class="col-10 col-sm-8 col-md-6 col-lg-6">
                <div class="fs-3 text-sky">บริการฟิตเนส</div>
                <div class="p_reccomend">
                    ออกกำลังกายด้วยอุปกรณ์ที่ครบครันให้คุณได้เล่น พร้อมเทรนเนอร์ที่คอยแนะนำช่วยเหลือ และให้คำปรึกษาเกี่ยวกับร่างกาย
                </div>
                <div class="d-flex">ให้บริการ
                    <div class="text-sky ms-2">08:00 - 20:00</div>
                </div>
            </div>
        </div>
    </div>

    <!-- แนะนำฟิตเนส -->

    <!-- <div class="parallax2 d-flex align-items-center"></div> -->

    <!-- <div class>
            <img src="testsocial.jpg" alt class="w-100">
        </div> -->

    <div class>
        <div class="py-4 d-flex justify-content-center fs-2 fw-semibold">
            สถานที่ท่องเที่ยว
        </div>

        <div class="container set-a-att">
            <!-- attraction -->
            <div class="row gy-2">
                <% for (var i = 0; i < attraction.length; i++) { %>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="d-block mb-4 h-100 ">
                            <a href="<%= attraction[i].link %>" class=" d-block"><img
                                src="<%= attraction[i].img %>"
                                alt="Image placeholder"
                                class="img-fluid-att w-100"
                                style="border-radius: 6px;"></a>
                            <div class>
                                <div class="c-textroom py-1 fs-4">
                                    <a href="<%= attraction[i].link %>">
                                        <%= attraction[i].name %>
                                    </a>
                                </div>
                                <div class>
                                    <%= attraction[i].sub_district %>,
                                        <%= attraction[i].district %>
                                </div>
                                <div class>เปิดให้บริการ
                                    <%= attraction[i].open_day %>
                                </div>
                                <div class="mb-3">เวลาทำการ
                                    <%= attraction[i].open_time %>
                                </div>
                                <div class="boxatt mt-auto row">
                                    <div class="w-50">
                                        <a href="<%= attraction[i].link %>" class=" btn btn-primary">ขอเส้นทาง</a>
                                    </div>
                                    <div class="w-50 d-flex justify-content-end align-items-center ">ระยะทาง
                                        <%= attraction[i].distance %> กม.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>

            </div>
            <!-- attraction -->
            <div class="mt-4 mb-4 d-flex justify-content-center fs-2 fw-semibold">
                เคเฟ่สุดชิล
            </div>
            <!-- attraction -->
            <div class="row gy-2 mt-1 pb-3 ">
                <% for (var i = 0; i < cafe.length; i++) {
                    %>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="d-block mb-4 h-100">

                            <img src="<%= cafe[i].img %>" class="img-fluid-att w-100" style="border-radius: 6px;">
                            <div class>
                                <div class="c-textroom py-1 fs-4">
                                    <a href="<%= cafe[i].link %>">
                                        <%= cafe[i].name %>
                                    </a>
                                </div>
                                <div class>
                                    <%= cafe[i].sub_district %>,
                                        <%= cafe[i].district %>
                                </div>
                                <div class>เปิดให้บริการ
                                    <%= cafe[i].open_day %>
                                </div>
                                <div class="mb-3">เวลาทำการ
                                    <%= cafe[i].open_time %>
                                </div>
                                <div class="boxatt mt-auto row">
                                    <div class="w-50">
                                        <a href="<%= cafe[i].link %>" class=" btn btn-primary">ขอเส้นทาง</a>
                                    </div>
                                    <div class="w-50 d-flex justify-content-end align-items-center ">ระยะทาง
                                        <%= cafe[i].distance %> กม.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%}%>

            </div>
        </div>
        <!-- attraction -->

        <!-- footer -->
        <footer-component></footer-component>
        <!-- footer -->

</section>

<script>
</script>